.git
.github
.gitignore
.bun-install
.bun-tmp
.astro
target
**/target
node_modules
**/node_modules
frontends/app/dist
frontends/app/.astro
frontends/app/.bun-install
frontends/app/.bun-tmp
frontends/app/.astro-dev.log
golang_archive
release
.docker-release
*.log
.superpowers
.idea
.envrc
apps
crates
docs
api-docs
dev-docs
screenshot
private
Cargo.toml
Cargo.lock
Cross.toml
release.toml
flake.nix
flake.lock
flake_pkgs_let.nix
packaging/*
!packaging/docker
*.7z
*.qcow2*
